.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.icon-and-forecast {
  display: flex;
  align-items: center;
}

.complete-forecast {
  margin-right: 10px;
}

.square-button {
  background-color: turquoise;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 10px;
}

.square-button:hover {
  background-color: #48D1CC;
}

.square-button i {
  margin-right: 3px;
}

.bubble {
  margin-left: 5px;
}
