.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.icon-and-forecast {
  display: flex;
  align-items: center;
}

.complete-forecast {
  margin-right: 10px;
}

.square-button {
  background-color: turquoise;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 10px;
}

.square-button:hover {
  background-color: #48D1CC;
}

.square-button i {
  margin-right: 3px;
}

.bubble {
  margin-left: 5px;
}

.logout-button {
  border: none;
  color: #676c6e;
  text-decoration: none;
  background-color: transparent;
  margin-top: 150px;
  font-weight: bold;
}

.button {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.button:hover {
  background-color: turquoise;
}

.button.selected {
  background-color: turquoise;
}

.buttons-container {
  text-align: center;
}

.image-container {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
}

.image-container img {
  width: 200px;
  height: auto;
  margin-right: 10px;
  border-radius: 20px;
  padding: 5px;
}
