.btn-custom {
  background-color: #40D3C4;
  border-color: #40D3C4;
  width: 100%;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.log-in-title {
  color: #40D3C4;
  font-size: 22px;
}

.log-in-subtitle {
  color: #999898;
  font-size: 12px;
  font-weight: bold;
}

.log-in-text {
  color: #999898;
  font-size: 11px;
}

.log-in-input {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #5f5f5f;
  font-size: 12px;
}

.log-in-input::placeholder {
  color: #999898; /* Placeholder color */
  font-size: 12px; /* Placeholder font size */
}

.simple_form_hint {
  color: #999898; /* Hint text color */
  font-size: 8px; /* Hint text size */
}

.logo {
  max-width: 300px; /* Adjust the maximum width as needed */
  margin: 0 auto 20px; /* Center the logo and add some bottom margin */
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}
