<div class="container fixed-bottom">
  <div class="row border shadow mx-3" style="border-radius: 20px; background-color: white;" data-controller="icon-toggle">
    <div class="col-3 col-sm-3 d-flex justify-content-center align-items-center">
      <%= link_to root_path, class: "icon-button", data: { action: "click->icon-toggle#toggle", tab: "home"} do %>
        <i class="bi bi-house-door" data-icon-toggle-target="icon" data-tab="home"></i>
        <span>Home</span>
      <% end %>
    </div>
    <div class="col-3 col-sm-3 d-flex justify-content-center align-items-center">
      <%= link_to user_spots_path, class: "icon-button", data: { action: "click->icon-toggle#toggle", tab: "favorites"} do %>
        <i class="far fa-heart else" data-icon-toggle-target="icon" data-tab="favorites"></i>
        <span>Favorites</span>
      <% end %>
    </div>
    <div class="col-3 col-sm-3 d-flex justify-content-center align-items-center">
      <%= link_to regions_path, class: "icon-button", data: { action: "click->icon-toggle#toggle", tab: "search"} do %>
        <i class="fas fa-search else" data-icon-toggle-target="icon" data-tab="search"></i>
        <span>Search</span>
      <% end %>
    </div>
    <div class="col-3 col-sm-3 d-flex justify-content-center align-items-center">
      <%= link_to regions_path, class: "icon-button", data: { action: "click->icon-toggle#toggle", tab: "maps"} do %>
        <i class="far fa-map else" data-icon-toggle-target="icon" data-tab="maps"></i>
        <span>Maps</span>
      <% end %>
    </div>
  </div>
</div>
