<div class="container py-3">
  <div class="row d-flex justify-content-center align-items-center" style="color: #282828;" data-controller="forecast">
    <div class="col-md-9 col-lg-7 col-xl-5">
      <div class="card gradient-custom" style="border-radius: 25px; background: linear-gradient(to right, #4c7183, #39a7a5); border: none">
        <div class="card-body p-3">
          <div id="demo1" data-mdb-carousel-init class="carousel slide" data-ride="carousel" style="font-size: 10px; color: white">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex justify-content-between">
                  <div>
                    <h2 class="display-2" style="font-size: 20px; color: white" data-forecast-target="temperature"><strong id="current-temperature">--°C</strong></h2>
                    <p class="mb-0" style="color: white" id="city-name" data-forecast-target="cityName"><%= region.name %></p>
                  </div>
                  <div>
                    <i class="fas fa-sun fa-2x my-1" style="color: #ddd;" id="current-weather-icon" data-forecast-target="currentWeatherIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="demo2" data-mdb-carousel-init class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="font-size: 9px; color: white">
              <div class="carousel-item active" style="color: white">
                <div class="d-flex justify-content-around text-center pt-2">
                  <div class="flex-column" id="forecast-1">
                    <p class="small mb-0"><strong>--°C</strong></p>
                    <i class="fas fa-sun fa-2x my-1" style="color: #ddd;"></i>
                    <p class="mb-0"><strong>--</strong></p>
                    <p class="mb-0" style="font-size: 9px; color: white">--</p>
                  </div>
                  <div class="flex-column" id="forecast-2">
                    <p class="small mb-0"><strong>--°C</strong></p>
                    <i class="fas fa-sun fa-2x my-1" style="color: #ddd;"></i>
                    <p class="mb-0"><strong>--</strong></p>
                    <p class="mb-0" style="font-size: 9px; color: white">--</p>
                  </div>
                  <div class="flex-column" id="forecast-3">
                    <p class="small mb-0"><strong>--°C</strong></p>
                    <i class="fas fa-cloud fa-2x my-1" style="color: #ddd;"></i>
                    <p class="mb-0"><strong>--</strong></p>
                    <p class="mb-0" style="font-size: 9px; color: white">--</p>
                  </div>
                  <div class="flex-column" id="forecast-4">
                    <p class="small mb-0"><strong>--°C</strong></p>
                    <i class="fas fa-cloud fa-2x my-1" style="color: #ddd;"></i>
                    <p class="mb-0"><strong>--</strong></p>
                    <p class="mb-0" style="font-size: 9px; color: white">--</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    window.apiKey = "<%= ENV['API_KEY'] %>";
  </script>
