 <div class="container py-3">
    <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828">
      <div class="col-md-9 col-lg-7 col-xl-5">
        <div class="card gradient-custom" style="border-radius: 25px;background: linear-gradient(to right, #4c7183, #39a7a5); border: none">
          <div class="card-body p-3">
            <div id="demo1" data-mdb-carousel-init class="carousel slide" data-ride="carousel", style="font-size: 10px; color: white">
              <!-- Carousel inner -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex justify-content-between mb-2">
                    <div>
                      <h2 class="display-2", style="font-size: 20px; color: white"><strong>23°C</strong></h2>
                      <p class="mb-0" style="color: white">Coimbra, Portugal</p>
                    </div>
                    <div>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp"
                        width="50px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="demo2" data-mdb-carousel-init class="carousel slide" data-ride="carousel" style="border-top: 1px solid rgba(0, 0, 0, 0.175);">
              <!-- Carousel inner -->
              <div class="carousel-inner", style="font-size: 10px; color: white">
                <div class="carousel-item active" style="color: white">
                  <div class="d-flex justify-content-around text-center pt-2">
                    <div class="flex-column">
                      <p class="small"><strong>21°C</strong></p>
                      <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                      <p class="mb-0"><strong>12:00</strong></p>
                      <p class="mb-0" style="font-size: .65rem; color: white">PM</p>
                    </div>
                    <div class="flex-column">
                      <p class="small"><strong>2°C</strong></p>
                      <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                      <p class="mb-0"><strong>1:00</strong></p>
                      <p class="mb-0" style="font-size: .65rem; color: white">PM</p>
                    </div>
                    <div class="flex-column">
                      <p class="small"><strong>20°C</strong></p>
                      <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                      <p class="mb-0"><strong>2:00</strong></p>
                      <p class="mb-0" style="font-size: .65rem; color: white">PM</p>
                    </div>
                    <div class="flex-column">
                      <p class="small"><strong>19°C</strong></p>
                      <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                      <p class="mb-0"><strong>3:00</strong></p>
                      <p class="mb-0" style="font-size: .65rem; color: white">PM</p>
                    </div>
                    <div class="flex-column">
                      <p class="small"><strong>18°C</strong></p>
                      <i class="fas fa-cloud-showers-heavy fa-2x mb-3" style="color: #ddd;"></i>
                      <p class="mb-0"><strong>4:00</strong></p>
                      <p class="mb-0" style="font-size: .65rem; color: white">PM</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
