.icon-button {
  display: inline-block;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #40D3C4;
  padding: 10px 10px;
}

.else {
  padding-top: 5px;
  padding-bottom: 5px;
}

.icon-button span {
  display: block;
  font-size: 10px;
  text-align: center;
}
.icon-button i {
  display: block;
  font-size: 20px;
}

.icon-button::after {
  content: '';
  position: absolute;
  top: -1%;
  left: 37.5%;
  width: 0;
  height: 8px;
  background-color: transparent;
  transition: height 0.3s ease, background-color 0.3s ease;
  border-radius: 0 0 12px 12px;
}

.icon-button.active::after,
.icon-button:hover::after {
  width: 11.5px;
  background-color: #40D3C4;
}

.icon-button.active {
  color: #40D3C4;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;

}
